*{box-sizing: border-box;}
/* Header */

header nav{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  background-color: rgb(129, 133, 138);
  padding: 0;
  margin: 0;
}

nav ul.header-left{
  width: 50%;
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

nav ul.header-left li.menu{

  width: 10%;
  margin-left: 7%;
  margin-right: 0;
  padding: 0;
}
nav ul.header-left li a{
  text-decoration: none;
  color: white;
  font-family: 'Poiret One', cursive;
  border-left: solid black 1px;
  padding-left: 20%;
}
nav ul.header-left li a.generos{
  margin-left: 5%;
}
nav ul li.logo{
  margin-left: 5%;
}
nav ul li.logo img{
  width: 58px;
  padding-left: 0;
}

nav ul.header-right{
  width: 50%;
  display: flex;
  list-style: none;
  align-items: center;
  padding-left: 25%;
}

nav ul.header-right i{
  margin-left: 5%;
  size: 20%;

}

nav ul.header-right li{
visibility: hidden;
}

/* Main Body */

main{
  font-family: 'Poiret One', cursive;
}

main section.series div{
  display: flex;
  flex-wrap: wrap;
}

main article.serie {
  width: 18%;
  justify-content: space-between;
  margin: 0 auto;
}

main article.serie img{
  width: 100%;
  transition: .3s;
}

main article.serie p{
  opacity: 0;
  transition: .3s;
}

main article.serie img:hover{
  opacity: 0.5;
}

main article.serie:hover p{
  opacity: 1;
}
